/* Resetting default margin and padding */
body, h1, nav, div {
    margin: 0;
    padding: 0;
}

/* Setting background color and font for the body */
body {
    background-color: #9fd8df; /* Light blue */
    font-family: Arial, sans-serif;
}

/* Styling the header */
h1 {
    text-align: center;
    padding: 20px 0;
    color: #fff; /* White */
}

/* Styling the navigation links */
nav {
    background-color: #004d99; /* Dark blue */
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff; /* White */
    text-decoration: none;
    padding: 0 10px;
}


nav a:hover {
    background-color: #0066cc; /* Light blue on hover */
}
.wrapper {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White */    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    display: grid;
    grid-template-columns: 100px 300px 200px;
    width: 602px;
    color: #111;
   
}

.box {
    background-color: #3dbae8;
    color: #111;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    border: solid black 1px;
}
.a {
    grid-column: 1;
    grid-row: 1;
}

.b {
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 3;
    grid-row: 1 / span 5;
}

.d {
    grid-column: 1;
    grid-row: 2;
}

.e {
    grid-column: 2;
    grid-row: 2;
}

.f {
    grid-column: 1;
    grid-row: 3;
}

.g {
    grid-column: 2;
    grid-row: 3;
}

.h {
    grid-column: 1;
    grid-row: 4;
}

.i {
    grid-column: 2;
    grid-row: 4;
}

.j {
    grid-column: 1;
    grid-row: 5;
}

.k {
    grid-column: 2;
    grid-row: 5;
}

.l {
    grid-column: 1;
    grid-row: 6;
}

.m {
    grid-column: 2;
    grid-row: 6;
}

.n {
    grid-column: 3;
    grid-row: 6;
}

.o {
    grid-column: 1 / span 3;
    grid-row: 7;
}


 







 
  


