/* Resetting default margin and padding */
body, h1, nav, div {
    margin: 0;
    padding: 0;
}

/* Setting background color and font for the body */
body {
    background-color: #9fd8df; /* Light blue */
    font-family: Arial, sans-serif;
}

/* Styling the header */
h1 {
    text-align: center;
    padding: 20px 0;
    color: #fff; /* White */
}

/* Styling the navigation links */
nav {
    background-color: #004d99; /* Dark blue */
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff; /* White */
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    background-color: #0066cc; /* Light blue on hover */
}

/* Styling the current link */
nav a.current {
    font-weight: bold;
}

/* Styling the main content area */
.wrapper {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
}
h4{
    text-align: center;
    color: #579ac9; 
}




